<config>
	<server>chirpstack.iut-blagnac.fr</server>
	<app>1</app>
	<device>+</device>
	<outFolder>data</outFolder>
	<toDraw>
		<activity>True</activity>
		<co2>True</co2>
		<humidity>True</humidity>
		<illumination>True</illumination>
		<infrared>True</infrared>
		<infrared_and_visible>True</infrared_and_visible>
		<pressure>True</pressure>
		<temperature>True</temperature>
		<tvoc>True</tvoc>
	</toDraw>
	<max>
		<activity>0</activity>
		<co2>500</co2>
		<humidity>60</humidity>
		<illumination>0</illumination>
		<infrared>0</infrared>
		<infrared_and_visible>0</infrared_and_visible>
		<pressure>1020</pressure>
		<temperature>22</temperature>
		<tvoc>0</tvoc>
	</max>
	<min>
		<activity>0</activity>
		<co2>0</co2>
		<humidity>60</humidity>
		<illumination>0</illumination>
		<infrared>0</infrared>
		<infrared_and_visible>0</infrared_and_visible>
		<pressure>1000</pressure>
		<temperature>10</temperature>
		<tvoc>0</tvoc>
	</min>
	<timeSleep>3600</timeSleep>
</config>