<config>
	<server>chirpstack.iut-blagnac.fr</server>
	<app>1</app>
	<device>+</device>
	<outFolder>.</outFolder>
	<toDraw>
		<activity>True</activity>
		<co2>True</co2>
		<humidity>True</humidity>
		<illumination>True</illumination>
		<infrared>True</infrared>
		<infrared_and_visible>True</infrared_and_visible>
		<pressure>True</pressure>
		<temperature>True</temperature>
		<tvoc>True</tvoc>
	</toDraw>
	<max>
		<activity>5000</activity>
		<co2>1500</co2>
		<humidity>50</humidity>
		<illumination>150</illumination>
		<infrared>0</infrared>
		<infrared_and_visible>0</infrared_and_visible>
		<pressure>1020</pressure>
		<temperature>22</temperature>
		<tvoc>600</tvoc>
	</max>
	<min>
		<activity>0</activity>
		<co2>250</co2>
		<humidity>30</humidity>
		<illumination>100</illumination>
		<infrared>0</infrared>
		<infrared_and_visible>0</infrared_and_visible>
		<pressure>980</pressure>
		<temperature>18</temperature>
		<tvoc>100</tvoc>
	</min>
	<timeSleep>3600</timeSleep>
	<frec>900</frec>
</config>